<div id="page-header" class="bg-gradient bg-shadow" style="padding: 0px 0;">
    <div class="container clearfix">
        <nav class="breadcrumb">
            
        </nav>
    </div>
</div>
<div id="content" class="pb-0">
<div id="content" class="pb-0 pt-2">
    <div class="container pb-6">
        <div class="row">
            <div class="col-md-8 mb-4">
                <h3 class="title-divider text-primary">
                    <i class="fa fa-edit mr-2" style="margin-top: -4px;"></i>
                    <span>Nuevo paciente - Confirmación</span>
                </h3>
                <!--<h4 align="justify">                   
                    Datos ingresados correctamente. El Paciente recibirá un mensaje de texto para completar el formulario de estado de salud. El código de verificación que se informó en el mensaje al paciente es: {{codigoVerif}}
                        .Por favor, confirme con el paciente el código de verificación.
                </h4>-->

                <p>
                    Datos ingresados correctamente.</p><p> El Paciente recibirá un mensaje de texto para completar el formulario de estado de salud.</p>
                    <p>Código de verificación enviado al paciente es: <b>{{codigoVerif}}.</b>
                        Por favor, confirme con el paciente el código de verificación.
                </p>

                <button class="btn btn-secondary" routerLink="/covid19/home-operador">
                    <!--  || !telefValido || telefono.indexOf('+')!=0 -->
                        Volver
                        <span class="fa fa-times"></span>            
                    </button>
                
                <!--<form #miForm="ngForm" class="mt-4">
                    <div class="form-group">
                        <label for="tipoDocumento"><strong>Tipo de Documento</strong></label>
                        <br>
                        <p-dropdown id="tipoDocumento" [options]="tipoDocumentoOptions" label="label" placeholder="Seleccionar" [(ngModel)]="formDatosBasicos.tipoDocumento" name="tipoDocumento" id="tipoDocumento" required disabled></p-dropdown>
                    </div>
                    <div class="form-group">
                        <label for="tipoDocumento"><strong>Tipo de Documento </strong></label>
                        <input type="text" [(ngModel)]="tipoDocumento" class="form-control" style="max-width: 200px;" id="tipoDocumento" name="tipoDocumento" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="numeroDocumento"><strong>Cédula </strong></label>
                        <input type="text" [(ngModel)]="formDatosBasicos.numeroDocumento" class="form-control" style="max-width: 200px;" id="numeroDocumento" name="numeroDocumento" placeholder="Ej. 123456" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="nombre"><strong>Nombre</strong></label>
                        <input type="text" [(ngModel)]="formDatosBasicos.nombre" name="nombre" class="form-control" style="max-width: 300px;" id="nombre" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="apellido"><strong>Apellido</strong></label>
                        <input type="text" [(ngModel)]="formDatosBasicos.apellido" name="apellido" class="form-control" style="max-width: 300px;" id="apellido" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="numeroCelular"><strong>Nro teléfono</strong></label>
                        <input type="text" [(ngModel)]="formDatosBasicos.numeroCelular" class="form-control" id="numeroCelular" style="max-width: 300px;" name="numeroCelular" placeholder="Ej. +595961123456" minlength="6" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="direccionDomicilio"><strong>Dirección</strong></label>
                        <input type="text" [(ngModel)]="formDatosBasicos.direccionDomicilio" name="direccionDomicilio" class="form-control" style="max-width: 300px;" id="direccionDomicilio" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="correoElectronico"><strong>Correo Electrónico</strong></label>
                        <input type="email" [(ngModel)]="formDatosBasicos.correoElectronico" name="correoElectronico" class="form-control" style="max-width: 300px;" id="correoElectronico" email required readonly>
                    </div>
                    <div class="form-group">
                        <label for="codigoVerif"><strong>Código de verificación</strong></label>
                        <input type="text" [(ngModel)]="codigoVerif" name="codigoVerif" class="form-control" style="max-width: 300px;" id="codigoVerif" required readonly>
                    </div>
                    <div class="text-center" *ngIf="loading">
                        <img src="assets/img/misc/icon_loading.gif" alt="Procesando.." /> A partir de ahora vamos a validar que sos vos...
                    </div>
                    <div class="clearfix"><br/></div>
                    <div class="clearfix"><br/></div>
                    <button (click)="registrar(formDatosBasicos, localTomaMuestra)" type="submit" class="btn btn-success btn-success-next" [disabled]="!miForm.form.valid || loading">
                            Guardar
                            <span class="fa fa-check"></span>            
                        </button>
                </form>-->

                <div class="clearfix"><br/></div>
                <!--<div class="alert alert-info">
                    <i class="fa fa-info-circle"></i> Debe completar todos los campos en el formato correcto para iniciar.
                </div>-->
            </div>

            
        </div>
    </div>
</div>
</div>