<div id="page-header" class="bg-gradient bg-shadow" style="padding: 0px 0;">
    <div class="container clearfix">
        <nav class="breadcrumb">
            
        </nav>
    </div>
</div>
<div id="content" class="pb-0">
<div id="content" class="pb-0 pt-2">
    <div class="container pb-6">
        <div class="row">
            <div class="col-md-8 mb-4">
                <!--<h4 align="justify">                   
                    Datos ingresados correctamente. El Paciente recibirá un mensaje de texto para completar el formulario de estado de salud. El código de verificación que se informó en el mensaje al paciente es: {{codigoVerif}}
                        .Por favor, confirme con el paciente el código de verificación.
                </h4>-->
                <h3 class="title-divider text-primary">
                    <i class="fa fa-edit mr-2" style="margin-top: -4px;"></i>
                    <span>Formulario de Registro de Salud</span>
                </h3>
                <br>
                <p style="text-align:justify">
                    Se ha registrado correctamente al paciente &nbsp;<b>{{nombre}}&nbsp;{{apellido}}</b><br>
                   
                    Con número de documento:&nbsp;<b>{{numeroDocumento}}</b>
                </p>
                
                <br>

                <div class="clearfix"><br/></div>
                <!--<div class="alert alert-info">
                    <i class="fa fa-info-circle"></i> Debe completar todos los campos en el formato correcto para iniciar.
                </div>-->
            </div>

            
        </div>
    </div>
</div>
</div>