<div id="page-header" class="bg-gradient bg-shadow" style="padding: 0px 0;">
    <div class="container clearfix">
        <nav class="breadcrumb">

        </nav>
    </div>
</div>
<div id="content" class="pb-0">
<div id="content" class="pb-0 pt-2">
    <div class="container pb-6">
        <div class="row">
            <div class="col-md-8 mb-4">
                <h3 class="title-divider text-primary">
                    <i class="fa fa-edit mr-2" style="margin-top: -4px;"></i>
                    <span>Tu Estado de Salud - Registro</span>
                </h3>

                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i>Todos los campos con asterisco son requeridos, para realizar una buena evaluación de su estado de salud.<br>
                </div>

                <form #miForm="ngForm" class="mt-4">

                    <table>
                        <tr><td colspan="2"><h3>Evaluación de riesgo</h3></td></tr>
                        <tr>
                            <td><h4>Vive sólo/a?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group1" value=true label="Si" [(ngModel)]="formDatosClinicos.evaluacionRiesgoViveSolo" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group1" value=false label="No" [(ngModel)]="formDatosClinicos.evaluacionRiesgoViveSolo" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr>
                            <td><h4>Tiene habitación propia?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group2" value=true label="Si" [(ngModel)]="formDatosClinicos.evaluacionRiesgoTieneHabitacionPropria" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group2" value=false label="No" [(ngModel)]="formDatosClinicos.evaluacionRiesgoTieneHabitacionPropria" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <!--tr>
                            <label for="ocupacion"><strong>Indique su Ocupación</strong></label>
                            <input type="text" [(ngModel)]="formDatosClinicos.ocupacion" name="ocupacion" class="form-control" style="max-width: 300px;" id="ocupacion">
                        </tr-->
                        <!--<tr><h4>Antecedentes de salud</h4></tr>-->
                        <tr>
                            <td><h4>Tiene cardiopatía crónica?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group3" value=true label="Si" [(ngModel)]="formDatosClinicos.enfermedadBaseCardiopatiaCronica" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group3" value=false label="No" [(ngModel)]="formDatosClinicos.enfermedadBaseCardiopatiaCronica" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr>
                            <td><h4>Tiene enfermedad pulmonar crónica?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group4" value=true label="Si" [(ngModel)]="formDatosClinicos.enfermedadBasePulmonarCronico" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group4" value=false label="No" [(ngModel)]="formDatosClinicos.enfermedadBasePulmonarCronico" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr>
                            <td><h4>Tiene asma?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group5" value=true label="Si" [(ngModel)]="formDatosClinicos.enfermedadBaseAsma" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group5" value=false label="No" [(ngModel)]="formDatosClinicos.enfermedadBaseAsma" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr>
                            <td><h4>Tiene diabetes?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group6" value=true label="Si" [(ngModel)]="formDatosClinicos.enfermedadBaseDiabetes" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group6" value=false label="No" [(ngModel)]="formDatosClinicos.enfermedadBaseDiabetes" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr>
                            <td><h4>Tiene enfermedad renal crónica?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group7" value=true label="Si" [(ngModel)]="formDatosClinicos.enfermedadBaseRenalCronico" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group7" value=false label="No" [(ngModel)]="formDatosClinicos.enfermedadBaseRenalCronico" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr>
                            <td><h4>Tiene enfermedad hepática grave?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group8" value=true label="Si" [(ngModel)]="formDatosClinicos.enfermedadBaseHepaticaGrave" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group8" value=false label="No" [(ngModel)]="formDatosClinicos.enfermedadBaseHepaticaGrave" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr>
                            <td><h4>Toma algún medicamento de forma habitual?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group9" value="true" label="Si" [(ngModel)]="formDatosClinicos.evaluacionRiesgoUsomedicamento" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group9" value="false" label="No" [(ngModel)]="formDatosClinicos.evaluacionRiesgoUsomedicamento" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr>

                            <div class="form-group" *ngIf="formDatosClinicos.evaluacionRiesgoUsomedicamento=='true'">

                                <label for="medicamento"><strong>Especificar</strong></label>
                                <input type="text" [(ngModel)]="formDatosClinicos.evaluacionRiesgoMedicamento" name="medicamento" class="form-control" style="max-width: 300px;" id="medicamento">
                            </div>
                        </tr>
                        <br>
                        <tr><td colspan="2"><h3>Estado de salud en los últimos 15 días:</h3></td></tr>
                        <tr>
                            <td><h4>Tuvo fiebre o sensación febril?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group10" value=true label="Si" [(ngModel)]="formDatosClinicos.sintomasFiebre" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group10" value=false label="No" [(ngModel)]="formDatosClinicos.sintomasFiebre" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr *ngIf="formDatosClinicos.sintomasFiebre=='true'">
                            <td>
                                <label for="fiebreValor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Indique la temperatura máxima medida:<span class="text-danger">*</span></strong></label><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" [(ngModel)]="formDatosClinicos.sintomasFiebreValor" name="fiebreValor style="max-width: 100px;" id="fiebreValor" step=".1">
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Tuvo alguna dificultad para respirar?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group11" value="true" label="Si" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirar" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group11" value="false" label="No" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirar" inputId="opt2"></p-radioButton></div></td>
                        </tr>

                        <tr *ngIf="formDatosClinicos.sintomasDificultadRespirar=='true'">
                            <td><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tuvo tos?</h5></td>
                            <td><div class="ui-g-12"><p-radioButton name="group12" value=true label="Si" [(ngModel)]="formDatosClinicos.sintomasTos" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group12" value=false label="No" [(ngModel)]="formDatosClinicos.sintomasTos" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr *ngIf="formDatosClinicos.sintomasDificultadRespirar=='true'">
                            <td><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tuvo dolor de garganta?</h5></td>
                            <td><div class="ui-g-12"><p-radioButton name="group13" value=true label="Si" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirarDolorGarganta" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group13" value=false label="No" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirarDolorGarganta" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr *ngIf="formDatosClinicos.sintomasDificultadRespirar=='true'">
                            <td><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tuvo falta de aire?</h5></td>
                            <td><div class="ui-g-12"><p-radioButton name="group14" value=true label="Si" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirarFaltaAire" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group14" value=false label="No" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirarFaltaAire" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr *ngIf="formDatosClinicos.sintomasDificultadRespirar=='true'">
                            <td><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tuvo dificultad para caminar?</h5></td>
                            <td><div class="ui-g-12"><p-radioButton name="group15" value=true label="Si" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirarCansancioCaminar" inputId="opt1"></p-radioButton></div></td>
                            <td> <div class="ui-g-12"><p-radioButton name="group15" value=false label="No" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirarCansancioCaminar" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr *ngIf="formDatosClinicos.sintomasDificultadRespirar=='true'">
                            <td><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tuvo rinorrea? (Goteo de secreción nasal)</h5></td>
                            <td><div class="ui-g-12"><p-radioButton name="group16" value=true label="Si" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirarRinorrea" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group16" value=false label="No" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirarRinorrea" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr *ngIf="formDatosClinicos.sintomasDificultadRespirar=='true'">
                            <td><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tuvo congestión nasal?</h5></td>
                            <td><div class="ui-g-12"><p-radioButton name="group17" value=true label="Si" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirarCongestionNasal" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group17" value=false label="No" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirarCongestionNasal" inputId="opt2"></p-radioButton></div></td>
                        </tr>
                        <tr>
                            <td><h4>Tuvo diarrea?<span class="text-danger">*</span></h4></td>
                            <td><div class="ui-g-12"><p-radioButton name="group18" value=true label="Si" [(ngModel)]="formDatosClinicos.sintomasDiarrea" inputId="opt1"></p-radioButton></div></td>
                            <td><div class="ui-g-12"><p-radioButton name="group18" value=false label="No" [(ngModel)]="formDatosClinicos.sintomasDiarrea" inputId="opt2"></p-radioButton></div></td>
                        </tr>

                    </table>
                    <div class="form-group">
                        <label for="sintomasOtro"><strong>Otros síntomas</strong></label>
                        <input type="text" [(ngModel)]="formDatosClinicos.sintomasOtro" name="sintomasOtro" class="form-control" style="max-width: 300px;" id="sintomasOtro">
                    </div>

                    <!--<label><input type="checkbox" style="width:20px;height:20px;" id="viveSolo" name="viveSolo" [(ngModel)]="formDatosClinicos.viveSolo"/>&nbsp;Vive sólo/a?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="viveHacinamiento" name="viveHacinamiento" [(ngModel)]="formDatosClinicos.tieneHabitacionPropia"/>&nbsp;Tiene habitación propia?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="enfermedadBase" name="enfermedadBase" [(ngModel)]="formDatosClinicos.enfermedadBase"/>&nbsp;Tiene alguna enfermedad de base?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="cardiopatiaCronica" name="cardiopatiaCronica" [(ngModel)]="formDatosClinicos.cardiopatiaCronica"/>&nbsp;Tiene cardiopatía crónica?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="pulmonarCronica" name="pulmonarCronica" [(ngModel)]="formDatosClinicos.enfermedadPulmonarCronica"/>&nbsp;Tiene enfermedad pulmonar crónica?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="asma" name="asma" [(ngModel)]="formDatosClinicos.asma"/>&nbsp;Tiene Asma?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="diabetes" name="diabetes" [(ngModel)]="formDatosClinicos.diabetes"/>&nbsp;Tiene Diabetes?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="renalCronica" name="renalCronica" [(ngModel)]="formDatosClinicos.renalCronica"/>&nbsp;Tiene enfermedad renal crónica?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="inmunodeficiencia" name="inmunodeficiencia" [(ngModel)]="formDatosClinicos.inmunodeficiencia"/>&nbsp;Inmunodeficiencia por enfermedad o tratamiento?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="sindromeDown" name="sindromeDown" [(ngModel)]="formDatosClinicos.neurologica"/>&nbsp;Enfermedad neurológica o neuromuscular crónica?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="sindromeDown" name="sindromeDown" [(ngModel)]="formDatosClinicos.sindromeDown"/>&nbsp;Síndrome de Down?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="obesidad" name="obesidad" [(ngModel)]="formDatosClinicos.obesidad"/>&nbsp;Obesidad?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="enfermedadHepatica" name="enfermedadHepatica" [(ngModel)]="formDatosClinicos.enfermedadHepatica"/>&nbsp;Tiene enfermedad hepática grave?</label><br>
                    <label><input type="checkbox" style="width:20px;height:20px;" id="medicamentoHabitual" name="medicamentoHabitual" [(ngModel)]="formDatosClinicos.medicamentoHabitual"/>&nbsp;Toma algún medicamento de forma habitual?</label><br>-->



                    <!--<div class="form-group">
                        <label for="medioTransporte"><strong>Medio de Transporte</strong></label>
                        <input type="text" [(ngModel)]="formDatosClinicos.medioTransporte" name="medioTransporte" class="form-control" style="max-width: 300px;" id="medioTransporte">
                    </div>
                    <div class="form-group">
                        <label for="tipoTransporte"><strong>Tipo Empresa de Transporte</strong></label>
                        <input type="text" [(ngModel)]="formDatosClinicos.tipoEmpresaTransporte" name="tipoTransporte" class="form-control" style="max-width: 300px;" id="tipoTransporte">
                    </div>
                    <div class="form-group">
                        <label for="nroAsiento"><strong>Nro de asiento</strong></label>
                        <input type="text" [(ngModel)]="formDatosClinicos.transporteNoAsiento" name="nroAsiento" class="form-control" style="max-width: 300px;" id="nroAsiento">
                    </div>
                    <div class="form-group">
                        <label for="fechaPartida"><strong>Fecha Partida</strong></label>
                        <input type="text" [(ngModel)]="formDatosClinicos.fechaPartida" name="fechaPartida" class="form-control" style="max-width: 300px;" id="fechaPartida" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="form-group">
                        <label for="fechaLlegada"><strong>Fecha Llegada</strong></label>
                        <input type="text" [(ngModel)]="formDatosClinicos.fechaLlegada" name="fechaLlegada" class="form-control" style="max-width: 300px;" id="fechaLlegada" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="form-group">
                        <label for="ocupacion"><strong>Ocupación</strong></label>
                        <input type="text" [(ngModel)]="formDatosClinicos.ocupacion" name="ocupacion" class="form-control" style="max-width: 300px;" id="ocupacion" required>
                    </div>
                    <div class="form-group">
                        <p-dropdown id="paisOrigen" [options]="paisOrigenOptions" label="label" placeholder="Seleccionar país" [(ngModel)]="formDatosClinicos.paisOrigen" name="paisOrigen" id="paisOrigen"></p-dropdown>
                    </div>
                    <div class="form-group">
                        <label for="ciudadOrigen"><strong>Ciudad Origen</strong></label>
                        <input type="text" [(ngModel)]="formDatosClinicos.ciudadOrigen" name="ciudadOrigen" class="form-control" style="max-width: 300px;" id="ciudadOrigen">
                    </div>
                    <div class="form-group">
                        <label for="circulacion"><strong>Países circulación</strong></label>
                        <textarea name="circulacion" class="form-control" [(ngModel)]="formDatosClinicos.paisesCirculacion" style="resize:vertical;" rows="4"></textarea>
                    </div>-->

                    <!--<label><input type="checkbox" style="width:20px;height:20px;" id="dificultadRespirar" name="dificultadRespirar" [(ngModel)]="formDatosClinicos.sintomasDificultadRespirar"/>&nbsp;Tuvo alguna dificultad respiratoria?</label><br>-->
                    <!--<p-checkbox [(ngModel)]="sintomasTos" binary="true" label="Tiene tos?"></p-checkbox>-->


                    <div class="text-center" *ngIf="loading">
                        <img src="assets/img/misc/icon_loading.gif" alt="Procesando.." /> Registrando...
                    </div>

                    <div class="clearfix"><br/></div>

                    <div class="form-group">
                        <input type="checkbox" style="width:20px;height:20px;" id="terminos" name="terminos" [(ngModel)]="formDatosClinicos.declaracionAgreement" />
                        <b><span class="text-danger">*</span>Acepto los términos y condiciones</b>
                        <p><a data-toggle="modal" href="#" data-target="#modalTerminosIE">Ver términos y condiciones</a> </p>
                    </div>

                    <div class="alert alert-info" *ngIf="!formDatosClinicos.declaracionAgreement">
                        <!--<i class="fa fa-info-circle"></i> Debe completar todos los campos en el formato correcto para iniciar.<br>-->
                        <i class="fa fa-info-circle"></i> Debe aceptar los términos y condiciones para poder guardar.
                    </div>

                    <div class="clearfix"><br/></div>
                    <button (click)="enviar(formDatosClinicos)" type="submit" class="btn btn-success btn-success-next" [disabled]="!miForm.form.valid || loading || !formDatosClinicos.declaracionAgreement">
                        <!--  || !telefValido || telefono.indexOf('+')!=0  [disabled]="!miForm.form.valid || loading || !terminos"-->
                            Guardar
                            <span class="fa fa-check"></span>
                        </button>
                </form>

                <div class="clearfix"><br/></div>
                <!--<qrcode [qrdata]="qrCode" [width]="128" [errorCorrectionLevel]="'M'"></qrcode>
                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i> Debe completar todos los campos en el formato correcto para iniciar.
                </div>-->
            </div>

            <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body"><b>{{mensaje}}</b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-remove"></i>  Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
